.result-table-container[data-v-05d62350] .el-table{height:100%}.result-table-container[data-v-05d62350] .el-table .selected-cell{box-shadow:inset 0 0 0 2px var(--el-color-primary);z-index:1;position:relative}
